POSTGRES_PORT=55432

# Generate with: python -c "import secrets; print(secrets.token_hex(42))"
SUPERSET_SECRET_KEY=????

SUPERSET_VERSION=3.1.3
SUPERSET_PORT=8088

SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com
